<div class="col-md-12">
  <% if @post.image.present? %>
    <%= image_tag(@post.image.medium.url, class: "thumbnail") %>
  <% else %>
    <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
  <% end %>
  <h1><%= @post.title %></h1>
  <p><%= @post.content %></p>

</div>
