<div class="col-md-12">

  <% if @post.image.present? %>
    <%= image_tag(@post.image.medium.url, class: "thumbnail") %>
  <% else %>
    <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
  <% end %>

    <table class="table">
      <thead>
        <tr>
          <th>文章内容</th>
          <th>发表时间</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @post.content %></td>
            <td><%= @post.created_at %></td>
          </tr>
      </tbody>
    </table>
</div>
